@mixin hoverlink () {
	transition: border-color $quick-transition, color $quick-transition, background-color $quick-transition;

	&:hover {
		border-color: $secondary-color-on-dark;
		color: $secondary-color-on-dark;
	}
}