.screen {
	width: 100vw;
	min-height: 100vh;
	background-size: cover;
	background-position: top center;

	&.black {
		background-color: $black;
	}

	&.blue {
		background-color: $blue;
		color: $white
	}

	&.veil {
		@include media-breakpoint-down(sm) {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($white, 0.9);
			}

			> * {
				position: relative;
			}
		}
	}

}