a:visited,
a:link {
	text-decoration: none;
	color: inherit;

	i {
		@include font-size(icon2x, true);
		position: relative;
		top: 7px;
		margin-right: 10px;
		transition: transform $standard-transition;
	}

	&:hover {
		i {
			transform: translateX(-10px);
		}
	}
}

a:focus,
a:hover {
	text-decoration: none;

}