<div class="page-wrapper black text-center">
	<div class="colored-line"></div>
	<div class="page-container">
		<p class="padded">Shout out to <a target="_blank" href="http://www.pexels.com/">pexels</a> and <a target="_blank" href="http://www.freepik.com/">freepik</a></p>
	</div>
</div>

<footer class="page-wrapper dark">
	<div class="page-container padded">
		<div class="row">
			<div class="col-md-4">
				<div class="logo text-center">
					{{>logo_juste}}
					<p class="tiny">Created by @gottwik under the MIT License</p>
				</div>
			</div>
			<div class="col-md-8 text-center-md-down">
				<div class="pull-right">
					<a href="https://github.com/Gottwik/Enduro" class="btn" target="_blank"><i class="fa fa-github"></i>Enduro.js on Github</a>
					<a href="https://github.com/Gottwik/enduro_website" class="btn" target="_blank"><i class="fa fa-github"></i>This page on Github</a>
				</div>
			</div>
		</div>
	</div>
</footer>