<div class="page-wrapper colored secondary text-center">
	<div class="page-container">
		<p class="padded">Thanks to <a target="_blank" href="http://www.pexels.com/">@pexels</a> for providing free stock images</p>
	</div>
</div>

<footer class="page-wrapper dark">
	<div class="page-container padded">
		<div class="row">
			<div class="col-md-4">
				<div class="logo text-center">
					{{>logo_juste}}
					<p class="tiny">Created by @gottwik under the MIT License</p>
				</div>
			</div>
			<div class="col-md-8 text-center-md-down">
				<p class="pull-right-lg-up"><a href="https://github.com/Gottwik/enduro_website" class="btn"><i class="fa fa-github"></i>This page on Github</a></p>
				<div class="clearfix"></div>
				<p class="pull-right-lg-up"><a href="https://github.com/Gottwik/enduro_website" class="btn"><i class="fa fa-github"></i>Enduro.js on Github</a></p>
			</div>
		</div>
	</div>
</footer>