code {
	@include no-smooth-font();
	@include font-size(xs);
	display: inline !important;
	border-radius: 3px;
	padding: 5px 10px !important;
	background: $code-background !important;
}


// block code
pre code {
	display: inherit !important;
}