.markdown-block {

	a {
		font-weight: 400;
		color: $blue !important;
	}

	.markdown_folder {
		border-radius: 3px;
		padding: 5px 10px !important;
		background: $code-background !important;

		&:before {
			content: $fa-var-folder-o;
			@include fa-icon()
			margin-right: 5px;
		}
	}

	li {
		list-style-type: circle;
		margin-left: 18px;
	}
}