.page-wrapper {
	position: relative;


	// modifiers
	&.colored {
		background-color: $primary-color;
		color: $white;

		&.secondary {
			background-color: $secondary-color;
			color: $black;

			a {
				color: $primary-color;
				text-decoration: underline;
			}
		}
	}

	&.dark {
		background-color: $grey;
		color: $white;

		a {
			color: $secondary-color;
		}

		.btn {
			border-color: $secondary-color;
		}
	}
}