.btn {
	@include hoverlink();
	padding: 7px 30px;
	background-color: rgba($black, .2);
	border: 1px $white solid;
	display: inline-block;
	border-radius: 2px;
	margin: 0 5px;

	i {
		margin-top: -5px;
		margin-bottom: 10px;
	}

	// modifiers
	$accent-button-color: $secondary-color;
	$accent-button-color-hover: darken($accent-button-color, 20%);
	&.accent {
		background-color: $accent-button-color;
		border-color: $accent-button-color;
		color: $black;

		&:hover {
			background-color: $accent-button-color-hover;
			border-color: $accent-button-color-hover;
		}
	}

	// environments
	.black & {
		color: $white !important;
	}
}