.btn {
	@include hoverlink();
	padding: 7px 30px;
	background-color: rgba($black, .2);
	border: 1px $white solid;
	display: inline-block;
	border-radius: 2px;
	margin: 0 5px;

	.black & {
		color: $white !important;
	}

	i {
		margin-top: -5px;
		margin-bottom: 10px;
	}
}