{{#>body}}
	<div class="wedge-5x"></div>
	<div class="page-container">
		<div class="panel">
			<h1>Documentation</h1>
			<div class="row">
					{{#each global.documentation_list}}
						<div class="col-md-3">
						<h3 class="short line">{{label}}</h3>
						<ul>
							{{#each topics}}
								<li><a href="/docs/{{slug label}}">{{label}}</a></li>
							{{/each}}
						</ul>
						</div>
					{{/each}}
			</div>
		</div>
	</div>
{{/body}}