{{#>body}}
	<div class="page-container">
		<div class="panel">
			<h2>Documentation</h2>
			<div class="row">
				<div class="col-md-6">
					{{>documentation_list}}
				</div>
			</div>
		</div>
	</div>
{{/body}}