{{#>body}}
	<div class="page-container">
		<div class="panel">
			<h2>Documentation</h2>
			<div class="row">
				<div class="col-md-6">
					<h3>Getting started</h3>
					<ul>
						<li><a href="/docs/hello-world">Hello world</a></li>
						<li><a href="/docs/hello-world">Build tools</a></li>
						<li><a href="/docs/hello-world">Cli</a></li>
					</ul>
					<h3>Advanced features</h3>
					<ul>
						<li><a href="/docs/abstractors">Abstractors</a></li>
						<li><a href="/globalizer">Globalizer</a></li>
						<li><a href="/templatitator">Templatitator</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{{/body}}