{{#>body}}
	<div class="screen veil" style="background-image: url(assets/img/mockups/room.jpg)">
			<div class="screen-padder text-center">
				<div class="wedge-5x"></div>
				<div class="subwedge-lg-down-4x"></div>
				<h1>Enduro.js</h1>
				<h2><span>Minimalistic</span><span>, lean & mean</span><span>, node.js cms</span></h2>

				<a href="https://www.npmjs.com/package/enduro">
					<img src="https://badge.fury.io/js/enduro.svg">
				</a>

				<a href="https://www.npmjs.com/package/enduro">
					<img src="https://img.shields.io/npm/dm/enduro.svg?maxAge=2592000">
				</a>

				<a href="https://travis-ci.org/kiskadigitalmedia/Enduro"><img src="https://travis-ci.org/kiskadigitalmedia/Enduro.svg?branch=master"></a>
				<a href="https://coveralls.io/github/kiskadigitalmedia/Enduro?branch=master"><img src="https://coveralls.io/repos/github/kiskadigitalmedia/Enduro/badge.svg?branch=master"></a>
				<a href="https://codeclimate.com/github/kiskadigitalmedia/Enduro"><img src="https://codeclimate.com/github/kiskadigitalmedia/Enduro/badges/gpa.svg"></a>
				<a href="https://raw.githubusercontent.com/kiskadigitalmedia/Enduro/master/License.md"><img src="https://img.shields.io/badge/license-MIT-blue.svg"></a>
			</div>
		</div>

		<div class="screen blue">
			<div class="screen-padder">
				<h1>Why enduro?</h1>
				<div class="wedge-3x"></div>
				<div class="row feature-row">
					{{#each global.features}}
						<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 feature">
							<i class="fa fa-{{icon}}" aria-hidden="true"></i>
							<div class="wedge"></div>
							<h2>{{title}}</h2>
							<p>{{text}}</p>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
{{/body}}