{{#>body}}
	<div class="fixed-screen-holder"></div>
	<div class="screen veil gradient fixed" style="background-image: url(assets/img/mockups/room.jpg)">
			<video autoplay loop class="fullvideo">
				<source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/We-Work-We-Wait.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
				<source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/We-Work-We-Wait.mp4" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
			</video>
			<div class="screen-padder text-center dark full">

				<div class="wedge-3x"></div>
				<h1 class="short large">Enduro.js</h1>
				<h2 class="short"><span>Minimalistic</span><span>, lean & mean</span><span>, node.js cms</span></h2>
				<div class="badges-holder">
					{{>badges}}
				</div>


			</div>
		</div>

		<div class="screen colored">
			<div class="screen-padder">
				<h1>Why enduro?</h1>
				<div class="wedge-3x"></div>
				<div class="row feature-row">
					{{#each global.features}}
						<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 feature">
							<i class="fa fa-{{icon}}" aria-hidden="true"></i>
							<div class="wedge"></div>
							<h2 class="short">{{title}}</h2>
							<p>{{text}}</p>
						</div>
					{{/each}}
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
{{/body}}