$primary-color: #30b89d;
$secondary-color: #123456;
$accent-color: darken($primary-color, 20%);

$white: #fff;
$black: #000;
$grey: #423d3d;

$light-grey: lighten($grey, 55%);

$link-color: lighten($primary-color, 30%);

$primary-text-color: $grey;

$code-background: lighten($black, 98%);

$accent-color-on-dark: saturate(lighten($accent-color, 30%), 30%);