$primary-color: rgba(81, 203, 238, 1);

$white: #fff;
$black: #000;
$grey: #423d3d;

$light-grey: lighten($grey, 55%);

$blue: #2189e7;
$light-blue: lighten($blue, 30%);


$primary-text-color: $grey;

$primary-background-color: $white;
$light-background-color: lighten($grey, 72%);
$primary-color-hover: darken($primary-color, 20%);