// * ———————————————————————————————————————————————————————— * //
// * 	Font sizes
// * ———————————————————————————————————————————————————————— * //

$font-sizes: (
	xxl: 80px,
	xl: 60px,
	lg: 40px,
	md: 30px,
	sm: 16px,
	xs: 14px,
	icon: 20px,
	icon2x: 40px,
) !default;